<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQIiN_f5Sooi4osTtUbikYulSylyLw6hs</string>
	<key>GCM_SENDER_ID</key>
	<string>980876933351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hd5.PeronoAI</string>
	<key>PROJECT_ID</key>
	<string>perono-0n0</string>
	<key>STORAGE_BUCKET</key>
	<string>perono-0n0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980876933351:ios:7b831de687ba2e5e720a42</string>
</dict>
</plist>